* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1400px) {
  .container > .first-section {
    margin: 0 -100px;
  }

  .container > .mid-section {
    margin: 0 -110px;
  }

  .container > .second-section {
    margin: 0 -100px;
  }

  .pic {
    margin: 0 -100px;
  }

  .site-footer {
    margin: 0 -80px;
  }

  .mid-section > .boxes {
    display: flex;
  }

  .containerp2 > .after-search {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 10px;
  }

  .containerp2 > .after-search > .sitem {
    padding: 5px 5px;
    margin: 5px 5px;
    justify-content: center;
    background-image: url(../css/assets/search-image.png);
    height: 400px;
    width: 400px;
    color: white;
    opacity: 0.8;
    background-size: cover;
  }
}

@media (max-width: 576px) {
  .container {
    background-color: #af8d5f;
  }
}

.dropbtn {
  background-color: #7a4e14;
  color: white;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

a {
  color: white;
  opacity: 0.8;
  text-decoration: none;
}

a:hover {
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.icons > ul > li > a {
  color: white;
  margin: 10px;
}

.p2-top-bottom > ul > li > a {
  color: rgb(88, 93, 143);
  font-size: 1rem;
}

.p2-top-bottom > ul > li > a > h5 {
  color: rgb(88, 93, 143);
}

.navigation > div > ul > li > a {
  color: rgb(235, 209, 191);
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navigation {
  background-color: #7a4e14;
  padding: 3px;
}

.navigation > div > div > a > i {
  color: white;
  font-size: 2rem;
}

.navigation > div > .name > a > h5 {
  color: white;
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.qlink > .footer-links > li > a {
  color: #737373;
}

.navigation > div > ul > li > a:hover {
  color: white;
}

main .first-section {
  background-image: url(./assets/background.jpeg);
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}

.container > .first-section > .box-section {
  margin: auto;
  color: white;
  height: 500px;
  width: 90%;
}

.search-box {
  margin: 0;
  padding: 10px 0;
  background-color: gray;
  border: 1px solid black;
}

.qlink > div > .log > a > h5 {
  color: red;
}

.container > .first-section > .box-section > div > h5 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.container > .first-section > .box-section > .search-box {
  margin: 0 0;
  color: white;
  border-radius: 10px;
  opacity: 0.8;
}

.containerp3 > .name-box > .name-icon > div > a > h5 {
  font-size: 2rem;
  color: #7a4e14;
}

.container > .first-section > .box-section > .search-box > .inner > a > h5 {
  color: white;
  text-align: center;
  font-size: 20px;
}

.container > .first-section > .box-section > .search-box > .inner > a > .search-button {
  padding: 12px 100px;
  color: white;
  background-color: brown;
  border-radius: 10px;
  width: 100%;
}

.container > .first-section > .box-section > .search-box > .inner > a > .search-button:hover {
  background: rgb(90, 3, 3);
}

.container > .first-section > .box-section > .search-box > .inner > a > .input-box {
  padding: 12px 0;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.container > .first-section > .box-section > .second-button {
  align-self: center;
  margin-top: 50px;
}

.container > .first-section > .box-section > .second-button > .button2 {
  border: none;
  border-radius: 10px;
  background-color: brown;
  width: 150px;
  opacity: 0.7;
  padding: 0;
}

.container > .first-section > .box-section > .second-button > .button2:hover {
  background-color: rgb(90, 3, 3);
}

.second-section {
  padding: 10px 10px;
}

.second-section > .item1 > .content {
  background-color: rgb(204, 63, 51);
  padding: 5px 20px;
  margin: 10px 20px;
  color: white;
}

.second-section > .item2 > .content {
  background-color: rgb(215, 175, 106);
  padding: 5px 20px;
  margin: 10px 20px;
  color: white;
}

.second-section > .item3 > .content {
  background-color: rgb(5, 5, 5);
  padding: 5px 20px;
  margin: 10px 20px;
  color: white;
}

.mid-section {
  padding: 10px 10px;
}

.mid-section h2 {
  color: #cc3f33;
}

.mid-section > div > .item1 {
  margin: 0 20px;
  background-color: rgb(184, 163, 163);
  padding: 5px;
  border-bottom: 4px dotted black;
}

.mid-section > .item1 > h2 {
  color: black;
}

.mid-section > .item1 > a > i {
  color: black;
  font-size: 2rem;
}

main > .pic {
  background-image: url(./assets/botton-pic.jpeg);
  height: 220px;
  background-size: cover;
  background-repeat: no-repeat;
}

.qlink > div > .log > a > i {
  color: red;
  font-size: 4rem;
}

.qlink > .footer-links > li > a:hover {
  color: white;
}

.site-footer > .container1 > div > .about {
  text-align: center;
}

.site-footer {
  background-color: rgb(38, 39, 43);
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.container2 {
  background-color: black;
  color: #737373;
}

.social-icons a.facebook:hover {
  background-color: rgb(56, 81, 136);
}

.social-icons a.twitter:hover {
  background-color: rgb(0, 172, 237);
}

.social-icons a.linkedin:hover {
  background-color: rgb(0, 123, 182);
}

.search-form {
  margin: 25px;
  background-color: rgb(206, 201, 201);
}

.heading {
  text-align: center;
  opacity: 0.5;
}

input[type=text] {
  width: 40%;
}

label {
  font-size: 25px;
  margin: 0 20px;
}

.containerp2 > .search-form > .country {
  margin: 100px;
}

.select {
  width: 40%;
}

.btn-submit {
  margin: 5px 200px;
  padding: 5px;
  width: 20%;
  font-size: 17px;
  border-style: none;
  background-color: brown;
  color: white;
  border-radius: 10px;
}

.after-search {
  padding: 10px;
}

.after-search > .sitem {
  padding: 5px 30px;
  margin: 10px 40px;
  justify-content: center;
  background-image: url(../css/assets/search-image.png);
  height: 400px;
  width: 450px;
  color: white;
  opacity: 0.8;
  background-size: cover;
}

.search-heading {
  text-align: center;
  font-weight: bold;
}

.name-box {
  margin: 20px 5px;
  padding: 10px;
  background-color: rgb(230, 212, 212);
}

.c1 {
  display: block;
}

.text-box {
  width: 230px;
  height: 30px;
  color: #af8d5f;
  border-style: groove;
}

.containerp3 > .name-box > .name-icon > div > a > i {
  font-size: 2rem;
  padding: 1px;
  color: #7a4e14;
}

.i {
  align-items: baseline;
}
